
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
ul, li {
	list-style: none;
}

.nav:hover {
  color: red !important;
  transition: color 0.3s;
}

#container,
#text,
#border,
#b {
  transition: all 0.3s;
}

#a,
#submit {
  cursor: pointer;
}

input {
	border: none;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115dvw;

}.desktop-1-4kF {
  margin: 0 auto;
  width: 146rem;
  overflow: auto;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.desktop-1-4kF .auto-group-isg3-gWj {
  width: 100%;
  height: 102.9rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-isg3-gWj .rectangle-19-Nns {
  width: 92.5rem;
  height: 102.9rem;
  position: absolute;
  left: 51.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-isg3-gWj .e7bb11e947488175ba7b4ef4b7cc-removebg-preview-1-rCF {
  width: 20.7rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-isg3-gWj .as-an-it-student-i-am-immersed-in-the-dynamic-and-ever-evolving-world-of-technology-my-academic-journey-revolves-around-gaining-a-comprehensive-understanding-of-various-aspects-of-information-technology-from-programming-languages-and-software-development-to-networking-cybersecurity-and-database-management-i-am-excited-to-contribute-to-the-future-of-technology-and-shape-the-digital-world-through-continuous-learning-and-hands-on-experiences-xm5 {
  width: 74.4rem;
  height: 28.5rem;
  position: absolute;
  left: 6.7rem;
  top: 44.6rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2625;
  color: #ffffff;
  font-family: Amethysta, 'Source Sans Pro';
}
.desktop-1-4kF .auto-group-isg3-gWj .hi-everyone-EMD {
  width: 22.1rem;
  height: 5.1rem;
  position: absolute;
  left: 6.7rem;
  top: 25rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .and-im-web-designe-uTM {
  width: 12.7rem;
  height: 5.1rem;
  position: absolute;
  left: 6.7rem;
  top: 35rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .james-winziel-del-rio-8qu {
  width: 77.1rem;
  height: 11.8rem;
  position: absolute;
  left: 6.7rem;
  top: 26.3rem;
  font-size: 7.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .home-3CB {
  width: 8.3rem;
  height: 5.1rem;
  position: absolute;
  left: 67.7rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .about-Yej {
  width: 9.5rem;
  height: 5.1rem;
  cursor: pointer;
  position: absolute;
  left: 83.2rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .work-fDZ {
  width: 8.7rem;
  height: 5.1rem;
  cursor: pointer;
  position: absolute;
  left: 100.4rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .online-resume-yk3 {
  width: 16.7rem;
  height: 3.8rem;
  position: absolute;
  left: 22.4rem;
  top: 87.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .rectangle-7-Gz3 {
  width: 31.1rem;
  height: 5.4rem;
  position: absolute;
  left: 15.6rem;
  top: 87rem;
  border: solid 0.5rem #ffffff;
  box-sizing: border-box;
  border-radius: 2rem;
}
.desktop-1-4kF .auto-group-isg3-gWj .fronted-developer-2rj {
  width: 29.3rem;
  height: 5.1rem;
  position: absolute;
  left: 18.7rem;
  top: 35rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ff0101;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-isg3-gWj .vector-wD1 {
  width: 5.3rem;
  height: 5.1rem;
  cursor: pointer;
  position: absolute;
  left: 12.3rem;
  top: 77.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-isg3-gWj .vector-54K {
  width: 5.2rem;
  height: 5.1rem;
  cursor: pointer;
  position: absolute;
  left: 22.5rem;
  top: 77.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-isg3-gWj .vector-DAX {
  width: 5.2rem;
  height: 5.1rem;
  cursor: pointer;
  position: absolute;
  left: 32.6rem;
  top: 77.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-isg3-gWj .vector-Yib {
  width: 5.3rem;
  height: 5.2rem;
  cursor: pointer;
  position: absolute;
  left: 42.6rem;
  top: 77.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-isg3-gWj .rectangle-2-5yR {
  width: 23.2rem;
  height: 5.7rem;
  cursor: pointer;
  position: absolute;
  left: 119rem;
  top: 5.3rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
}
.desktop-1-4kF .auto-group-isg3-gWj .contact-bRy {
  width: 12.4rem;
  height: 5.1rem;
  position: absolute;
  left: 124.1rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 9rem 12rem 0rem 9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-from-rawpixel-id-6285669-png-1-bg.png');
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .so-who-am-i-N5M {
  margin: 0rem 0rem 3.5rem 3.9rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .so-who-am-i-N5M .so-who-am-i-N5M-sub-0 {
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .so-who-am-i-N5M .so-who-am-i-N5M-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ff0505;
  font-family: Lalezar, 'Source Sans Pro';
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .so-who-am-i-N5M .so-who-am-i-N5M-sub-2 {
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d {
  width: 100%;
  height: 80.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .photo16961594651-removebg-preview-1-tbR {
  width: 78.5rem;
  height: 79.4rem;
  position: absolute;
  left: 26.5rem;
  top: 0.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .it-designer-zuM {
  width: 19rem;
  height: 5.7rem;
  position: absolute;
  left: 96.8rem;
  top: 0.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .it-coder-U3q {
  width: 14.1rem;
  height: 5.7rem;
  position: absolute;
  left: 11.4rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .as-a-it-designer-im-like-a-digital-explorer-weaving-together-creativity-and-functionality-to-create-online-spaces-that-feel-inviting-and-easy-to-navigate-my-passion-lies-in-crafting-websites-that-not-only-look-visually-stunning-but-also-make-users-feel-right-at-home-i-love-blending-the-artistic-side-of-design-with-the-practical-need-for-a-seamless-user-experience-a6s {
  width: 40.3rem;
  height: 44.2rem;
  position: absolute;
  left: 88.2rem;
  top: 4.2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2625;
  color: #000000;
  font-family: Amethysta, 'Source Sans Pro';
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .as-an-it-coder-picture-me-as-a-sort-of-digital-problem-solver-and-creator-i-spend-my-free-time-crafting-the-behind-the-scenes-magic-that-brings-software-and-applications-to-life-in-my-world-debugging-is-like-counting-stars-and-each-line-of-code-is-a-headache-that-turns-to-fever-im-on-a-beginning-of-learning-and-improvement-of-my-life-as-a-it-student-Kif {
  width: 38.3rem;
  height: 41.1rem;
  position: absolute;
  left: 0;
  top: 7.4rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2625;
  color: #000000;
  font-family: Amethysta, 'Source Sans Pro';
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .vscode-icons-file-type-html-6cw {
  width: 7.1755rem;
  height: 7.9625rem;
  position: absolute;
  left: 1.7622rem;
  top: 53.0688rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .skill-icons-javascript-b3u {
  width: 8.2rem;
  height: 7.4rem;
  position: absolute;
  left: 22.6rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .vscode-icons-file-type-css-WwZ {
  width: 7.0978rem;
  height: 7.525rem;
  position: absolute;
  left: 12.7511rem;
  top: 53.0375rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .logos-adobe-animate-eXy {
  box-sizing: border-box;
  padding: 1.463rem 0.755rem 1.678rem 0.755rem;
  width: 6rem;
  height: 5.6909rem;
  position: absolute;
  left: 92.4rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-w1Z.png');
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .logos-adobe-animate-eXy .vector-Lvb {
  width: 4.4896rem;
  height: 2.5501rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .devicon-photoshop-TkK {
  box-sizing: border-box;
  padding: 0.9rem 0.9rem 1.5rem 1.3rem;
  width: 6rem;
  height: 5.7rem;
  position: absolute;
  left: 101.6rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-xhm.png');
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .devicon-photoshop-TkK .vector-mm1 {
  width: 3.8rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .logos-adobe-illustrator-74B {
  box-sizing: border-box;
  padding: 1.262rem 1.438rem 1.669rem 1.238rem;
  width: 6rem;
  height: 5.6909rem;
  position: absolute;
  left: 110.8rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-ggf.png');
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .logos-adobe-illustrator-74B .vector-bk3 {
  width: 3.3236rem;
  height: 2.7608rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .logos-adobe-after-effects-6B1 {
  box-sizing: border-box;
  padding: 1.461rem 0.853rem 1.629rem 0.741rem;
  width: 6rem;
  height: 5.6909rem;
  position: absolute;
  left: 120rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-7d9.png');
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .logos-adobe-after-effects-6B1 .vector-CE3 {
  width: 4.4062rem;
  height: 2.6005rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .rectangle-9-8Nb {
  width: 6rem;
  height: 5.5151rem;
  position: absolute;
  left: 110.8rem;
  top: 58.4408rem;
  background-color: #c3c3c3;
  border-radius: 1rem;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .arcticons-capcut-41M {
  width: 3.9rem;
  height: 2.646rem;
  position: absolute;
  left: 111.95rem;
  top: 59.7786rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .file-icons-adobe-flash-PZR {
  width: 6rem;
  height: 5.7rem;
  position: absolute;
  left: 101.8rem;
  top: 58.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.desktop-1-4kF .auto-group-wuf9-WJ3 .auto-group-fmgs-A9d .arcticons-kinemaster-uXm {
  width: 6rem;
  height: 5.7rem;
  position: absolute;
  left: 120rem;
  top: 58.2rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .works-1Ku {
  margin-right: 3.7rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo {
  box-sizing: border-box;
  padding: 0.7rem 4.7rem 3.9rem 5.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-katr-c4o {
  margin: 0rem 17.8rem 0.8rem 18.6rem;
  width: calc(100% - 36.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-katr-c4o .video-editing-839 {
  margin-right: 46.2rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-katr-c4o .photo-editing-FtT {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-wsmq-o9H {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-wsmq-o9H .screenshot-2024-02-13-112537-1-k4X {
  margin-right: 10rem;
  width: 62.1rem;
  height: 32.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-wsmq-o9H .photo1695533827-8-1-fSP {
  width: 62rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-pp5h-zjZ {
  margin: 0rem 22.8rem 0rem 21.2rem;
  width: calc(100% - 44rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-pp5h-zjZ .animating-u5q {
  margin-right: 57rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-pp5h-zjZ .coding-1ef {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-d6kp-vmd {
  margin: 0 0.1rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-d6kp-vmd .screenshot-2024-02-13-114712-1-sB5 {
  margin-right: 10rem;
  width: 62rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ubkk-Jpo .auto-group-d6kp-vmd .screenshot-2024-02-13-114251-1-arB {
  width: 61.9rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy {
  box-sizing: border-box;
  padding-top: 11.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD {
  margin: 0rem 4.9rem 8.7rem 8.1rem;
  width: calc(100% - 13rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH {
  margin-right: 3.8rem;
  width: 63.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-cty5-H8K {
  margin-bottom: 2.3rem;
  width: 36.6rem;
  height: 10.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-cty5-H8K .contact-me-WvB {
  width: 36.6rem;
  height: 10.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5670000315;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-cty5-H8K .contact-me-WvB .contact-me-WvB-sub-0 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-cty5-H8K .contact-me-WvB .contact-me-WvB-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ff0000;
  font-family: Lalezar, 'Source Sans Pro';
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-cty5-H8K .contact-me-WvB .contact-me-WvB-sub-2 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-cty5-H8K .rectangle-12-WBR {
  width: 16.1rem;
  height: 0.9rem;
  position: absolute;
  left: 0;
  top: 8rem;
  background-color: #ff0000;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .feel-free-to-contact-me-anytime-i-love-to-know-what-youre-thinking-pC7 {
  margin-bottom: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-vqdr-Vp3 {
  margin: 0rem 23.1rem 2.6rem 0rem;
  width: calc(100% - 23.1rem);
  height: 6.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-vqdr-Vp3 .auto-group-enhm-RSo {
  margin-right: 1.4rem;
  box-sizing: border-box;
  padding: 1.5rem 1.1rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7.png');
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-vqdr-Vp3 .auto-group-enhm-RSo .vector-9tb {
  width: 4.6rem;
  height: 3.7rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-vqdr-Vp3 .winzieldelrio12gmailcom-Uvs {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-twzt-Q3q {
  margin-right: 39.5rem;
  width: calc(100% - 39.5rem);
  height: 6.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-twzt-Q3q .auto-group-efmz-LiB {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.6rem 1.5rem 1.7rem 1.6rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6.png');
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-twzt-Q3q .auto-group-efmz-LiB .bi-telephone-fill-sy1 {
  width: 3.7001rem;
  height: 3.3998rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-xuzu-Lis .auto-group-twzt-Q3q .item-639615820598-zGw {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-qoif-GkF {
  width: 100%;
  height: 6.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-qoif-GkF .auto-group-v9nx-dKu {
  margin-right: 1.1rem;
  box-sizing: border-box;
  padding: 1.125rem 1.533rem 1.325rem 1.533rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-5.png');
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-qoif-GkF .auto-group-v9nx-dKu .vector-A4w {
  width: 3.7334rem;
  height: 4.25rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .auto-group-jdrw-bmH .auto-group-qoif-GkF .brgy-silangan-mayao-lucena-city-4301-quezon-5Bu {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw {
  margin-top: 2.8rem;
  width: 63.9rem;
  height: 75.3rem;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .your-name-hyy {
  width: 12.5rem;
  height: 3.8rem;
  position: absolute;
  left: 5.7rem;
  top: 4.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .phone-number-1Us {
  width: 16.7rem;
  height: 3.8rem;
  position: absolute;
  left: 5.7rem;
  top: 13.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .message-vLw {
  width: 10.3rem;
  height: 3.8rem;
  position: absolute;
  left: 7.7rem;
  top: 22.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .auto-group-gtq9-PVR {
  box-sizing: border-box;
  padding: 0.8rem 1.5rem 0.4rem 1.5rem;
  width: 54.2rem;
  height: 4.4rem;
  position: absolute;
  left: 5.7rem;
  top: 8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .auto-group-yp9u-p4w {
  box-sizing: border-box;
  padding: 0.8rem 1.5rem 0.4rem 1.5rem;
  width: 54.2rem;
  height: 4.4rem;
  position: absolute;
  left: 5.7rem;
  top: 17rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .auto-group-umaw-Tdh {
  box-sizing: border-box;
  padding: 2.1rem 2rem;
  width: 54.2rem;
  height: 38.2rem;
  position: absolute;
  left: 5.7rem;
  top: 27rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lalezar, 'Source Sans Pro';
  border: solid 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}

.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .auto-group-rksm-vGP {
  width: 54.2rem;
  height: 3.9rem;
  position: absolute;
  left: 5.7rem;
  top: 68.2rem;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .auto-group-rksm-vGP .rectangle-17-47h {
  width: 54.2rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-byxb-GDD .message-box-BEw .auto-group-rksm-vGP .submit-ZaF {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 25.9rem;
  top: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-4kF .auto-group-ea9m-KHy .auto-group-z2fh-EgP {
  width: 100%;
  height: 4.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2625;
  letter-spacing: 0.028rem;
  color: #ffffff;
  font-family: Amethysta, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-shrink: 0;
}
